<h1 class="page-header text-primary">Sistema para gestión de Ventas y Stock</h1>
<!--<h2 class="text-info">Acceso Rapido</h2>-->


  <a class="btn btn-success btn-lg-center text-white" href="<%= sales_path %>">
    Ingresar Venta
  </a>

  <a class="btn btn-success btn-lg-center text-white" href="<%= items_path %>">
    Crea un nuevo producto
  </a>
<P>
<p>cesión iniciada como <%= current_user.email%></p>
